$o-card-margintop: 0px;
$o-percentcard-data-margin: 10px;

@import "../../main";

.cardsmall {
	float: left;
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;
}

.cardmedium {
	float: left;
	width: 200px;
}

.cardlarge {
	float: left;
	width: 400px;
}
