$background: #f2f2f2 !default;
$agrade: green !default;
$bgrade: #04b486 !default;
$cgrade: #dba901 !default;
$dgrade: orange !default;
$fgrade: red !default;
$o-percentcard-header-fontsize: 8px !default;
$o-percentcard-footer-fontsize: 8px !default;
$o-percentcard-data-fontsize: 24px !default;
$o-percentcard-data-margin: 0 !default;
