.o-percentcard-container {
	background: $background;
	font-family: arial, sans-serif;
	text-align: center;

	.o-percentcard-container__cardheader {
		font-size: $o-percentcard-header-fontsize;
		padding: 5px;
	}

	.o-percentcard-container__cardfooter {
		font-size: $o-percentcard-footer-fontsize;
		font-weight: bold;
	}

	.o-percentcard-container__cardpercent {
		padding: 5px;
		font-size: $o-percentcard-data-fontsize;
		margin: $o-percentcard-data-margin;
		font-weight: bold;

	}

	.o-perecentcard-container__agrade {
		color: $agrade;
	}

	.o-perecentcard-container__bgrade {
		color: $bgrade;
	}

	.o-perecentcard-container__cgrade {
		color: $cgrade;
	}

	.o-perecentcard-container__dgrade {
		color: $dgrade;
	}

	.o-perecentcard-container__fgrade {
		color: $fgrade;
	}
}
