.cardcontainer {
	background: $background;
	font-family: arial, sans-serif;
	text-align: center;
	height: 100%;
	width: 100%;

	.cardheader {
		font-size: 0.5em;
		padding: 5px 10px 0px;
		margin: 0;
	}

	.cardfooter {
		font-size: 0.5em;
		font-weight: bold;
	}

	.cardpercent {
		padding: 5px;
		font-size: 1.5em;
		margin: 0;
		font-weight: bold;

	}

	.agrade {
		color: $agrade;
	}

	.bgrade {
		color: $bgrade;
	}

	.cgrade {
		color: $cgrade;
	}

	.dgrade {
		color: $dgrade;
	}

	.fgrade {
		color: $fgrade;
	}
}
